/*
	Developed on 27-Jan-2015 by
	© 2015 Lucas Machado
	http://machadolucas.me
*/
html, body {
	margin: 0em;
	padding: 0em;
	background: url('bg.jpg');
	background-attachment: fixed;
	font-family: "VT323", monospace;
	text-align: center;
	font-size: 1.1em;
	color: white;
	text-shadow: 0px 0px 2px rgba(255,255,255,0.7);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header {
	text-align: left;
	color: white;
	margin: 1em auto;
	padding: 1em 0em;
	max-width: 700px;
	text-shadow: 0px 0px 3px rgba(255,255,255,0.7);
}
header ul {
	list-style: none;
	margin: 0em;
}

footer, footer a {
	color: white;
}
footer {
	padding: 1em;
	margin: 1em 0em 0em;
	background: rgba(0,0,0,0.7);
}

#world {
	border: 3px solid #fafafa;
	background: rgba(0,0,0,0.2);
	margin: 1em auto;
}
.tile {
	width: 16px;
	height: 16px;
	border: 1px solid rgba(255,255,255,0.1);
	background: transparent;
	float: left;
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	border-radius: 50%;
}
.tile:hover {
	background: rgba(50,205,50,0.5);
	box-shadow: 0px 0px 4px rgba(50,205,50,0.5);
}
.tile.alive {
	background: lime;
	box-shadow: 0px 0px 4px rgb(50,205,50);
	-webkit-animation: greenPulse 1s infinite;
	animation: greenPulse 1s infinite;
}
.tile.alive:hover {
	background: rgba(50,205,50,0.5);
}


.controls {
	color: white;
	padding: 1em 0.5em;
}
.controls button{
	color: white;
	background: rgba(0,0,0,0.6);
	border: 3px solid white;
	border-radius: 0.3em;
	padding: 0.2em 0.6em;
	font-size: 1.4em;
	font-weight: bold;
	font-family: "VT323", monospace;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.controls button:hover{
	color: lime;
	background: rgba(0,0,0,1);
	border: 3px solid lime;
}

#settings {
	max-width: 400px;
	color: white;
	background: rgba(0,0,0,0.6);
	border: 1px solid white;
	border-radius: 0.3em;
	margin: 1em auto;
	padding: 0.5em 1em;
}
#settings th {
	padding: 0em 1em;
	text-align: right;
}
#settings td {
	padding: 0em 1em;
	text-align: left;
	color: lime;
}
#settings input {
	background: rgba(0,0,0,0.5);
	color: lime;
	border: 1px solid lime;
	border-radius: 0.3em;
	padding: 0.2em 0.5em;
	font-size: 1.2em;
	font-family: "VT323", monospace;
}
#settings button{
	color: white;
	background: rgba(0,0,0,0.6);
	border: 1px solid white;
	border-radius: 0.7em;
	padding: 0.3em 0.4em;
	margin: 0.5em;
	font-size: 1.2em;
	font-family: "VT323", monospace;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
#settings button:hover{
	color: lime;
	border: 1px solid lime;
}


@-webkit-keyframes greenPulse {
  from { box-shadow: 0 0 1px lime; }
  50% { box-shadow: 0 0 6px lime; }
  to { box-shadow: 0 0 1px lime; }
}
@keyframes greenPulse {
  from { box-shadow: 0 0 1px lime; }
  50% { box-shadow: 0 0 6px lime; }
  to { box-shadow: 0 0 1px lime; }
}